.lead {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .lead{
   margin-bottom: 64px;
  }
}

@media screen and (min-width: 425px) {
  .lead{
    margin-bottom: 78px;
  }
}

@media screen and (min-width: 768px) {
  .lead{
    margin-bottom: 88px;
  }
}


@media screen and (min-width: 1024px) {
  .lead{
    margin-bottom: 92px;
  }
} 