.lead__subtitle {
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  margin:0 auto;
}

@media screen and (min-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
  
@media screen and (min-width: 425px) {
  .lead__subtitle {
    font-size: 23px;
    line-height: 1.2;
    max-width: 400px;
    margin-top: 24px;
    margin-bottom: 48px;
  }
}
  
@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    max-width: 640px;
    margin-top: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 68px;
  }
}


      