.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px){
  .cover {
    width: calc(100% + 32px); 
    height: calc((100vw + 32px) / 1.6);
    left:-16px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 425px) {
  .cover {
    width: calc(100% + 40px); 
    height: calc((100vw + 40px) / 1.6);
    left:-20px;
  }
}
   
@media screen and (min-width: 768px) {
  .cover {
    width: calc(100% + 48px); 
    height: calc((100vw + 48px) / 1.6);
    left:-24px;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    width: calc(100% + 96px); 
    height: calc((100vw + 96px) / 1.6);
    left:-48px;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover { 
    width: calc(100% + 200px); 
    height: calc((100vw + 200px) / 1.6);
    left:-100px 
  } 
}