.place__link {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
}
.place__link:hover {
  opacity: 0.8;
  transition: opacity .3s;
  }
  

