.cover__background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../images/cover-trains.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
  
.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  #2A2C2F;
  opacity: 0.3;
}
  
.cover__background:hover::before {
  opacity: 0.8;
  transition: opacity .4s ease-in;
}
  
@media screen and (min-width: 320px){
  .cover__background {
    width: 100vw; 
    height: calc(100vw / 1.6);  
  }
}
     
@media screen and (min-width: 768px) {
  .cover__background {
    margin-bottom: 88px;
  }
}
  
@media screen and (min-width: 1024px) {
  .cover__background {
    margin-bottom: 92px;
  }
}
  
@media screen and (min-width: 1280px) {
  .cover__background { 
    width: 1184px; 
    height: 740px;  
  } 
}