.place {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .place {
    margin-bottom: 24px;
    grid-template-columns: 320px;
    grid-template-rows: auto;
    grid-template-areas: 
      "title"
      "image"
      "paragraphs";
      row-gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    margin-bottom: 48px;
    grid-template-columns: 340px 352px;
    grid-template-rows: auto;
    column-gap: 28px;
    row-gap: 48px;
    grid-template-areas: 
      "title website"
      "image paragraphs";
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
    grid-template-columns: 440px 456px;
    grid-template-rows: auto;
    column-gap: 32px;
    grid-template-areas: 
      "title website"
      "image paragraphs";
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
    grid-template-rows: auto;
    column-gap: 40px;
    grid-template-areas: 
      "title website"
      "image paragraphs";
  }
}
